.destaques {
    margin: 0;
    background-color: rgb(253, 249, 244);
    grid-gap: .2rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    height: calc(100vh - 3em);
}

.destaques__principal {
    background-image: url("../assets/uyuni-bolivia.jpg");
    background-repeat: no-repeat;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    background-size: cover;
    background-position: center;
}

.destaques__secundario:nth-child(2) {
   
  background: url("../assets/deserto-atacama.webp") center / cover no-repeat;
 
}

.destaques__secundario:nth-child(3) {
  background: url("../assets/ilhas-galapagos.jpg") center / cover no-repeat;

}

.destaques__secundario:nth-child(4) {
    background: url("../assets/krabi-tailandia.jpg") center / cover no-repeat;
   
}

.destaques__secundario:nth-child(5) {
    background: url("../assets/laguna-69-yungay-huaraz-peru.webp") center / cover no-repeat;

}

.destaques__categorias {
  grid-row:  3/3;
}

.destaques__categorias___lista {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.destaques__categorias___item {
  display: flex;
  width: 33%;
  background-color: #fdfdfd;
  border-left: 5px solid transparent;
  align-items: center;

}

.destaques__categorias___item a {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  
}

.destaques__categorias___link {
  color: inherit;
}

.destaques__titulo {
  text-align: center;
  width: 100%;
  color: #fdfdfd;
  padding: .6em;
  background-color: rgba(0,0,0,.5);
}

.caixa {
  display: flex;
  align-items: flex-end;
  justify-content:center;
}

.destaques__categorias ul {
  padding-left: 0;
}
